<%= simple_form_for @new_customer do |f| %>
<%= f.input :name, label: 'Your username please', wrapper_html: { class: 'col-lg-3' } %>
<%= f.input :email, hint: 'No special characters.' %>
<%= f.input :description, placeholder: 'user@domain.com' %> 
  <%= f.button :submit %>
<% end %>

<%= simple_form_for @new_customer do |f| %>

  <div class="important-info form row">
    <div class="col-lg-3">
      <label class="control-label">
      * Customer
      </label>
      <div class="input-group customer">
        <select class="select optional newclass selectpicker form-control" id="transaction_person_id" name="transaction[person_id]">
          <option value="2167">Adam noviria (Customer)</option>
          <option value="2280">BMB (Customer)</option>
          <option value="2140">hahaha (Customer)</option>
          <option value="2141">hjajaja (Customer)</option>
        </select>
        <span class="input-group-btn">
        <button class="btn btn-md" data-target="#add-customer" data-toggle="modal" id="btn-add-new-customer">
        <i class="fa fa-plus"></i>
        </button>
        </span>
      </div>
    </div>






<!--     <div class="col-lg-3">
      <label class="control-label">
      Email
      </label>
      <input class="string email optional form-control form-control"
             id="transaction_email" name="transaction[email]" type="email">
    </div> -->
    <%= f.input :name, label: 'Email', wrapper_html: { class: 'col-lg-3' } %>


    <div class="col-lg-6 total-amount" style="text-align: right;">
      <h2>
        Total
        <span id="header_amount">Rp. 0,00</span>
      </h2>
    </div>
  </div>







  <div class="invoice-details row">
    <%= f.input :description, label: 'Billing Address', wrapper_html: { class: 'col-lg-3' } %>
    <div class="col-lg-2">
      <div class="payment-terms">
        <%= f.input :transaction_date, label: 'Transaction Date', :as => :string, input_html: { class: 'date-picker' }  %>
        
<!--       <div class="form-group">
        <label class="control-label">
        Transaction Date
        </label>
        <div class="input-group date" data-date-format="dd/mm/yyyy">
          <span class="input-group-addon custom">
            <i class="fa fa-calendar"></i>
          </span>
          <input class="string required form-control form-control date-picker" id="transaction_transaction_date" name="transaction[transaction_date]" type="text" value="12/05/2015">
        </div>
      </div> -->
      <!-- Transaction Due Date -->
        
        
<!--       <div class="form-group">
        <label class="control-label">
        Due Date
        </label>
        <div class="input-group date" data-date-format="dd/mm/yyyy">
          <span class="input-group-addon custom">
            <i class="fa fa-calendar"></i>
          </span>
          <input class="string optional form-control form-control date-picker" id="transaction_due_date" name="transaction[due_date]" type="text" value="11/06/2015">
        </div>
      </div> -->
      <!-- Shipping Date -->
        
        <%= f.input :due_date, label: 'Due Date', :as => :string , input_html: { class: 'date-picker' }  %>
      </div>
    </div>





    <!-- THIRD COLUMN - SHIPPING -->
    <div class="col-lg-2">
      <div class="shipping-method">
      <!-- Terms of Payment -->
        <div class="form-group">
          <label class="control-label">
          Term
          </label>
          <div class="input-group">
            <select class="select optional newclass form-control selectpicker form-control" id="transaction_term_id" name="transaction[term_id]">
              <option value="1366">Cash on Delivery</option>
              <option value="1367">Net 15</option>
              <option selected="selected" value="1368">Net 30</option>
              <option value="1369">Net 60</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-md" data-target="#add-term" data-toggle="modal" id="btn-add-new-term">
                <i class="fa fa-plus"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  <!-- Rightmost column -->
    <div class="col-lg-2">
      <div class="transaction-ref">
        <div class="form-group">
          <label class="control-label">
          Transaction No
          </label>
          <input class="string optional form-control form-control" id="transaction_transaction_no" name="transaction[transaction_no]" type="text" value="10006">
        <!-- Ref Number -->
        </div>

        <div class="form-group">
          <label class="control-label">
          Customer Ref No
          </label>
          <input class="string optional form-control form-control" id="transaction_reference_no" name="transaction[reference_no]" type="text">
        </div>
      </div>
    </div>

    <div class="col-lg-2">
    </div>


  </div>

  <div class="action-group">
    <div class="col-md-12 text-right">
      <a class="btn btn-danger" href="/transactions/invoice/index">
        <i class="fa fa-close"></i>
        Cancel
      </a>
      <button class="btn btn-success" data-disable-with="Processing..." id="create_invoice" 
              name="button" type="button" wrapper="false">Create Invoice</button>
    </div>
  </div>
<% end %>


<% content_for :page_specific_js do %>
  <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
  <!-- DONE -->
  <%= javascript_include_tag  'clipone/bootstrap-datepicker'   %>

		<script>
			jQuery(document).ready(function() {
				Main.init();
        
        $('.date-picker').datepicker({
            autoclose: true
        });
			});
		</script>
<% end %>




<% content_for :page_specific_css do %>
  <%= stylesheet_link_tag "clipone/datepicker" %>
<% end %>
