

<%= simple_form_for @new_customer, url: new_horizontal_customer_url, as: 'user_horizontal', html: { class: 'form-horizontal' , :style => "width:50%;" },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, placeholder: 'Email', :label_html => {:class => "col-sm-2"} %>

  <%= f.input :email, placeholder: 'Password', :label_html => {:class => "col-sm-2"} %>
  <%= f.input :description, placeholder: 'Description', :label_html => {:class => "col-sm-2"} %> 
<%= f.input  :due_date,  input_html: { class: 'date-picker' }, :as => :string, :label_html => {:class => "col-sm-2"} %> 

 
<div class="row action-group">
  <div class="col-lg-6 col-sm-push-2">
    <a class="btn btn-danger" href="/accounts/chart_of_accounts">
    Cancel
    </a> 
    <%= f.button :submit ,:class => "btn-action btn btn-success"   %>
  </div>
</div>


  
<% end %>

 


<% content_for :page_specific_js do %>
  <%= javascript_include_tag  'clipone/bootstrap-datepicker'   %>

		<script>
			jQuery(document).ready(function() {
				Main.init();
        
        $('.date-picker').datepicker({
            autoclose: true
        });
			});
		</script>
<% end %>




<% content_for :page_specific_css do %>
  <%= stylesheet_link_tag "clipone/datepicker" %>
<% end %>
